@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');
body{
   font-family: 'Barlow', sans-serif;
}
#dashboard{
    display: flex;
    flex-direction: column;
}
.cards, .bartender-info, .beer-level, .queue, .storage-info{
    display: flex;
}
.cards{
    flex-wrap: wrap;
    justify-content: space-between;
}
h2{
    font-size: 15px;
}
.card{
    border: 1px solid black;
}
.one-status{
    flex-direction: column;
}
.storage-info{
    flex-wrap: wrap;
    flex: 1;
}
.bar-name{
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
}